<span id="comments_count"><%= pluralize(@comment.count, "Comment") %></span>
<div id="comments">
</div>

<hr />
<div id="comment-notice"></div>

<h2>Say something!</h2>
<% form_for :comment, :remote => true, :action => "create" do |f| %>
	<%= f.label :username, "Your name" %><br />
	<%= f.text_field :username %><br />
	<%= f.label :comment_content, "Comment" %><br />
	<%= f.text_area :comment_content, :rows => 8 %><br />
	<%= f.submit "Add comment" %>
	<span class="ajax_message"> &nbsp; </span>
<% end %>
