<p><%= notice %></p>
<h3><%= @photo.comment %></h3>
<img src="<%= url_for(action: 'photo', id: @photo.id) %>" />
<img src="<%= url_for(action: 'photo_large', id: @photo.id) %>" />
<img src="<%= url_for(action: 'photo_thumbnail', id: @photo.id) %>" />
