<div id="glob_login">
  <h1>Signup</h1>
  <%= flash[:notice] %>
  <div class="login_form">
    <%= form_for :user, url: { controller: "user", action: "login"} do |f| %>
    	<%= f.text_field :name, size: 20, class: "name_form", autocomplete: "on", title: "用户名或电子邮件地址" %>
    	<br />
    	<%= f.password_field :passwd, size: 20, class: "password_form" %>
      <span class="placeholder">用户名或电子邮件地址</span>
    	<br />
    	<%= submit_tag "Submit" %><br />
    	<%= link_to 'Register', :action => 'signup' %>
    	<%= link_to 'Forgot my password', :action => 'forgot_password' %>
    <% end %>
  </div>
</div>
