<h1>Login</h1>
<%= form_for :user, url: { controller: "user", action: "login"} do |f| %>
	<label for="user_login">Login:</label>
	<%= f.text_field :name, :size => 20 %>
	<br />
	<label for="user_password">Password:</label>
	<%= f.password_field :passwd, :size => 20 %>
	<br />
	<%= submit_tag "Submit" %><br />
	<%= link_to 'Register', :action => 'signup' %>
	<%= link_to 'Forgot my password', :action => 'forgot_password' %>
<% end %>
