<div id="persion_pre">
	<div class="comment_content">
		<%= image_tag(url_for(controller: 'photo', action: 'photo', id: @photo.id), :class => "commented_photo") %>
		<ul class="show_comment" style="height:300px;" >
			<% @all_comment.each do |all_comment| %>
				<li><strong><%= all_comment.username %></strong>: <%= all_comment.comment_content %></li>
			<% end %>
		</ul>
	</div>
	<div class="comment">
		<% if @user %>
			<p>You are <%= @username.name %></p>
			<%= form_for :comment, method: "get", remote: true, "data-type" => :json do |comment| %>
				<%= comment.text_area :comment_content, :size => "40x6" %><br />
				<%= comment.submit "Comment" %>
			<% end %>
		<% end %>
	</div>
</div>
