<div id="header">
	<form id="search_input">
			<input type="text" name="search" class="sea" /> 
			<input type="image" src="project/public/images/s.gif" class="search_button" />
	</form>
	<div id="logo">
		<%= link_to "Home", controller: "present", action: "index" %>
	</div>
	<div id="search_present">
		<ul class="search_content">
			<li><a href="#" >Everything</a> </li>
			<li><a href="#" >Videos</a></li> 
			<li><a href="#" >Popular</a></li> 
			<li><a href="#" >Gifts</a></li>
		</ul>
	</div>
	<ul class="nav">
		<% if @user == nil %>
			<li><%= link_to "创建新用户", controller: "user", action: "signup", class: "signup" %></li>
			<li><%= link_to "登录", controller: "user", action: "login" %></li>
			<li><%= link_to "上传", controller: "photo", action: "get" %></li>
		<% else %>	
			<li><%= link_to @user.name, controller: "profile", action: "index" %></li>
			<li><%= link_to '注销', controller: "user", action: "logout" %></li>
			<li><%= link_to "上传", controller: "photo", action: "get" %></li>
		<% end %>
	</ul>
</div>
