<!DOCTYPE html>
<html>
<head>
  <title>Find Base Present to Her/His</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
	<%= stylesheet_link_tag "present" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %> 
	<%= yield %>
</body>
</html>
