<header>
	<nav>
		<ul id="nav">
			<% if @user == nil %>
				<li><%= link_to "创建新用户", controller: "user", action: "signup", class: "signup" %></li>
				<li><%= link_to "登录", controller: "user", action: "login" %></li>
				<li><%= link_to "上传", controller: "photo", action: "get" %></li>
			<% else %>
				<li><%= link_to @user.name, controller: "user", action: "profile" %></li>
				<li><%= link_to '注销', controller: "user", action: "logout" %></li>
				<li><%= link_to "上传", controller: "photo", action: "get" %></li>
			<% end %>
		</ul>
	</nav>
</header>
